.boards_wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 45em;
    min-height: 350px;
    margin: auto;
    background: var(--bg-color2);
    border-radius: 3px;
    padding: 5px 0;
}
.title {
    margin: 0 5px;
    border-top: 3px solid transparent;
    line-height: 40px;
}
.title[danger_level="3"] {
    border-color: var(--red-darken);
}
.title[danger_level="2"] {
    border-color: var(--orange);
}
.title[danger_level="1"] {
    border-color: var(--yellow);
}
.title[danger_level="0"] {
    border-color: var(--green-darken);
}
.info_bar{
    height: 42px;
    line-height: 40px;
    color: var(--default-color-half);
    padding: 0 10px;
    text-align: left;
    border-top: 1px solid var(--default-color-1of10);
    border-bottom: 1px solid var(--default-color-1of10);
}
.info_bar span {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 0.8em;
    color: var(--default-color-half);
}
.info_bar button {
    float: right;
    background: none;
    border: 0;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 18px;
}
.checkbox:hover {
    width: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.checkbox::after {
    content: attr(icon);
    font-family: bootstrap-icons;
    font-size: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.checkbox:hover::after {
    height: 30px;
    width: 30px;
    font-size: inherit;
}
.contents {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--default-color-1of10);
    flex: 1;
    margin-bottom: 0;
}
body:not(.login) .reply_editor {
    display: none;
}
.reply_editor{
    position: relative;
    min-height: 80px;
    padding: 0;
    border-bottom: 1px solid var(--default-color-1of10);
}
.reply_detailed {
    min-height: 80px;
    display: none;
    position: relative;
    width: 100%;
    border-color: transparent;
    text-align: left;
}
.reply_simple {
    display: none;
    position: relative;
    width: 100%;
    border-color: transparent;
    text-align: left;
    margin-top: 26px;
    padding: 10px 9px;
    background: transparent;
    color: var(--font-default-color);
}
.reply_simple.on,
.reply_simple:not(.on) + .reply_detailed {
    display: block;
}
@keyframes reply_detailed_grow_once {
    0% { height: 80px; }
    100% { height: 280px; }
}
.reply_simple:not(.on) + .reply_detailed {
    animation: reply_detailed_grow_once 1.2s ease;
    height: 280px;
}
.reply_submit {
    position: absolute;
    top: 12px;
    right: 11px;
    width: 70px;
    height: 25px;
    border: 1px solid var(--default-color);
    border-radius: 3px;
    padding: 0;
    line-height: 23px;
    font-size: 13px;
    font-weight: bold;
    background: transparent;
    color: var(--default-color);
    filter: drop-shadow(0 0 2px var(--default-color-1of10));
    opacity: 0.6;
    z-index: 1;
}
.reply_submit:hover {
    opacity: 0.7;
}
.reply_submit:active {
    opacity: 1;
}
.reply_submit::after {
    content: 'submit';
}
.reply_list{
    min-height: 50px;

}
.reply_list:empty {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    opacity: 0.7;
}
.reply_list:empty::after {
    color: var(--default-color-half);
    content: "No Reply is here";
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.reply_list:empty::before {
    color: var(--default-color-1of10);
    content: "404";
    display: block;
    position: absolute;
    top: -0.5em;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
}

.reply_list:empty + .bottom_btn {
    display: none;
}
.reply_list:not(:empty) + .bottom_btn {

}
.reply_list > div {
    text-align: left;
    margin-top: 16px;
}
.reply_list > :last-child {
    text-align: left;
    margin-bottom: 10px;
}
.reply_profile {
    overflow: hidden;
    position: relative;
    float: left;
    margin: 5px 16px auto 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.reply_profile[alt]:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color);
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    content: attr(alt);
}
.reply_author {
    color: var(--font-default-color);
    font-size: 13px;
    font-weight: 600;
    margin-right: 4px;
}
.reply_datetime {
    color: var(--font-minor-color);
    font-size: 13px;
    font-weight: 400;
}
.reply_contents{
    margin-left: 66px;
    margin-right: 10px;
    text-align: inherit;
    color: var(--font-default-color);
    font-size: 14px;
    font-weight: 400;
    overflow-wrap: break-word;
    margin-top: 2px;
}