* {
    alignment: center;
    align-content: center;
    text-align: center;
    color: var(--font-default-color);
    outline: none;
}
body {
    background-color: var(--bg-color);
    box-shadow: var(--shadow-bg);
}
.wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    max-width: 80vw;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
header{
    height: 50px;
    line-height: 50px;
    margin-bottom: auto;
}
.logo {
    float: left;
    font-size: 2em;
}
.header_sub {
    float: right;
    font-size: 1em;
}
footer{
    height: 50px;
    line-height: 50px;
    margin-top: auto;
}
.detail {
    display: none;
    width: fit-content;
    text-align: left;
}
.folding_btn.on + .detail{
    display: block;
}
.folding_btn::after{
    cursor: pointer;
    content: "show detail";
    color: var(--font-minor-color);
}
.folding_btn.on::after{
    content: "close detail";
}
a, a:visited {
    text-decoration: none;
    color: var(--font-default-color);
}
button {
    line-height: 100%;
    height: 3em;
    width: 10em;
    border: 1px solid var(--font-minor-color);
    border-radius: 1.5em;
    background: none;
    color: var(--font-default-color);
}
button:disabled {
    color: var(--disabled-border);
    border-color: var(--disabled-border);
    background-color: var(--disabled-bg);
}
button.invert {
    background-color: var(--font-minor-color);
    color: var(--bg-color);
}


.loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: var(--default-color-1of10);
}
.loading::after, .loading::before {
    content: '';
    position: absolute;
    width: 8em;
    height: 4em;
    border: 15px solid var(--default-color-half);
    border-bottom: 0;
    border-radius: 4em 4em 0 0;
    margin-bottom: 4em;
    animation: 2.8s infinite normal spin;
    transform-origin: 50% 100%;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
}
.loading::before {
    animation-delay: 0.5s;
}
.modal_wrap {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(3px);
    z-index: 99999;
    background-color: var(--default-color-1of10);
}
.modal_wrap.on {
    display: flex !important;
}
.modal_window {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 32em;
    min-height: 20em;
    margin: auto;
    background: var(--bg-color);
    border: 1px solid var(--font-minor-color2);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 8px 1px var(--default-color-1of10);
}
.modal_wrap.on.cancel-not > .modal_window > button {
    display: none;
}
.modal_window > button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 19px;
    height: 19px;
    display: inline-block;
    padding: 0;
}
.modal_window > button:after,
.modal_window > button:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 8px;
    width: 1px;
    height: 13px;
    background-color: var(--font-minor-color);
    transform: rotate(45deg);
}
.modal_window > button:before{
    transform: rotate(-45deg);
}
.modal_window > div {
    margin-left: auto;
    margin-right: auto;
    color: var(--font-minor-color);
}
.modal_window .modal_title {
    margin-left: auto;
    margin-right: auto;
    color: var(--font-default-color);
    font-size: 1.3em;
}
.modal_window > div:first-of-type {
    margin-top: auto;
}
.modal_window > div:last-of-type {
    margin-bottom: auto;
}
.modal_window > div > *{
    margin: 2px;
}
.toast {
    display: block !important;
    position: fixed;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    width: 32em;
    max-width: 42em;
    margin: 0 auto;
    background: var(--bg-color);
    border: 1px solid var(--font-minor-color2);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0.5rem 1rem var(--default-color-1of10);
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    z-index: 999999;
}
input, textarea {
    color: var(--grey);
    padding: 10px;
    height: 50px;
    min-height: 50px;
}