* {
    alignment: center;
    align-content: center;
    text-align: center;
    color: var(--font-default-color);
    outline: none;
}
.detail {
    display: none;
    width: fit-content;
    text-align: left;
}
.folding_btn.on + .detail{
    display: block;
}
.folding_btn::after{
    cursor: pointer;
    content: "show detail";
    color: var(--font-minor-color);
}
.folding_btn.on::after{
    content: "close detail";
}
a, a:visited {
    text-decoration: none;
    color: var(--font-default-color);
}
button {
    line-height: 100%;
    height: 3em;
    width: 10em;
    border: 1px solid var(--font-minor-color);
    border-radius: 1.5em;
    background: none;
    color: var(--font-default-color);
}
button:disabled {
    color: var(--disabled-border);
    border-color: var(--disabled-border);
    background-color: var(--disabled-bg);
}


.loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: var(--default-color-1of10);
}
.loading::after, .loading::before {
    content: '';
    position: absolute;
    width: 8em;
    height: 4em;
    border: 15px solid var(--default-color-half);
    border-bottom: 0;
    border-radius: 4em 4em 0 0;
    margin-bottom: 4em;
    animation: 2.8s infinite normal spin;
    transform-origin: 50% 100%;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
}
.loading::before {
    animation-delay: 0.5s;
}