h3 {
    display: inline-block;
    margin: 0;
}
.error_code{
    position: relative;
    display: inline-block;
    height: 8rem;
    width: 14rem;
    line-height: 8rem;
    font-size: 8rem;
    font-weight: 600;
}
.error_code::after {
    content: attr(code);
    position: absolute;
    height: 65px;
    left: -2px;
    overflow: hidden;
    background-color: var(--bg-color);
}
.error_code::before {
    content: attr(code);
    position: absolute;
    left: 0;
}