.go_btn.on,
.apply_btn,
.upload_btn,
.go_btn.on ~ .list_btn{
    display: none;
}
.apply_btn.on{
    display: none !important;
}
.input_title, .input_description {
    display: block;
    width: 0;
    max-width: 45em;
    padding: 10px;
    height: 50px;
    min-height: 50px;
    transition: 1s width;
    margin: 0 auto;
    visibility: hidden;
}
.input_description {
    margin-top: 10px;
    text-align: left;
}
@keyframes description_appear {
    0% {
        height: 30px;
        width: 0;
    }
    50% {
        height: 30px;
        width: 100%;
    }
    100% {
        height: 200px;
        width: 100%;
    }
}
.go_btn.on ~ .input_title,
.apply_btn.on ~ .input_description {
    width: 100%;
    visibility: visible;
}
.apply_btn.on ~ .input_description {
    animation: description_appear 1s linear;
    height: 200px;
}
.go_btn.on ~ .apply_btn,
.apply_btn.on ~ .upload_btn {
    display: block;
    margin: 0 auto;
}
* + button[class*=_btn] {
    margin-top: 10px !important;
}