* {
    outline: none !important;
}
:host {
    transform: translateZ(0);
    min-height: 200px;
    max-height: 800px;
}
.tool_bar {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 25px;
    overflow: hidden;
}
.tool_bar > button {
    font-size: 17px;
    cursor: pointer;
    float: left;
    height: 25px;
    min-width: 25px;
    padding: 0;
    line-height: 25px;
    margin-right: 5px;
    border: 1px solid var(--font-minor-color);
    border-radius: 3px;
    background: none;
    color: var(--font-default-color);
}

.tool_bar > button[data-style=bold]:after {
    content: "B";
    font-weight: bold;
}
.tool_bar > button[data-style=italic]:after {
    content: "I";
    font-style: italic;
}
.tool_bar > button[data-style=underline]:after {
    content: "U";
    text-decoration: underline;
}
.tool_bar > button[data-style=strikeThrough]:after {
    content: "S";
    text-decoration: line-through;
}
.tool_bar > button[data-style=insertOrderedList]:after {
    font-family: bootstrap-icons;
    content: "\F475";
}
.tool_bar > button[data-style=insertUnorderedList]:after {
    font-family: bootstrap-icons;
    content: "\F478";
}
.tool_bar > button[data-style=justifyFull]:after {
    font-family: bootstrap-icons;
    content: "\F5C8";
}
.tool_bar > button[data-style=justifyLeft]:after {
    font-family: bootstrap-icons;
    content: "\F5C7";
}
.tool_bar > button[data-style=justifyCenter]:after {
    font-family: bootstrap-icons;
    content: "\F5C4";
}
.tool_bar > button[data-style=justifyRight]:after {
    font-family: bootstrap-icons;
    content: "\F5C9";
}
.tool_bar > button[data-style=image]:after {
    font-family: bootstrap-icons;
    content: "\F428";
}

.tool_bar > button.on {
    background: var(--font-minor-color);
    color: var(--bg-color2);
}
.tool_bar > button:active {
    background: var(--font-minor-color);
    color: var(--bg-color2);
    opacity: 0.7;
}
.textarea {
    cursor: text;
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    color: var(--font-default-color);
    overflow-y: auto;
}
.textarea::after {
    content: '';
    opacity: 0;
    transition: opacity 0.2s;
}
.textarea.dragover::after {
    content: 'Drop Image Here';
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    backdrop-filter: blur(10px);
    border: 1px dashed var(--default-color-half);
    border-radius: 5px;
    opacity: 1;
    font-size: 3em;
    font-weight: bold;
    color: var(--default-color-1of10);
}
.textarea img {
    max-width: 100%;
}
.vertical_size {
    cursor: ns-resize;
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 16px;
    height: 16px;
    line-height: 0;
    font-size: 0;
    border-width: 8px;
    border-style: solid;
    padding: 0;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: var(--default-color-half);
    border-right-color: var(--default-color-half);
}

.vertical_size:active {
    border-bottom-color: var(--blue);
    border-right-color: var(--blue);
    transition: border 0.15s;
}
.textarea.dragover + .vertical_size{
    display: none;
}
.textarea:empty::before {
    content: attr(placeholder);
    color: var(--font-minor-color);
}
