:root {
    --bg-color: white;
    --font-default-color: black;
    --font-minor-color: grey;
    --shadow-bg: inset 0 0 5rem rgb(0 0 0 / 10%);
}
@media (prefers-color-scheme: dark) {
    /* 라이트 모드에 적용할 스타일 정의 */
    :root {
        --bg-color: rgba(53,54,58,1);
        --font-default-color: rgb(232, 234, 237);
        --font-minor-color: grey;
        --shadow-bg: inset 0 0 5rem rgb(0 0 0 / 50%);
    }
}